<?xml version="1.0"?>
<robot name="ip50_sim" xmlns:xacro="https://ros.org/wiki/xacro">
  <xacro:arg name="lidar_visual" default="true" />

  <xacro:include filename="$(find ip50_description)/urdf/ip50.urdf.xacro" />
  <xacro:include filename="$(find ip50_description)/urdf/ip50.gazebo_prop.xacro" />
  
</robot>